* {
    background-color: black;
}

div {
    margin: 250px auto;
    width: 50px;
    height: 250px;
    position: relative;
    background-color: #b20710;
}

div::before {
    content: " ";
    width: 50px;
    height: 250px;
    position: absolute;
    background-color: #b20710;
    left: 90px;
}

div::after {
    content: " ";
    width: 175px;
    height: 20px;
    background-color: #000;
    position: absolute;
    bottom: -10px;
    left: -15px;
    border-radius: 50%;
}

span {
    width: 50px;
    height: 250px;
    background-color: #e50914;
    position: absolute;
    left: 46px;
    transform: skew(20deg);
    box-shadow: 0 0 10px -4px #000;
}

