* {
    background-color: #3b5998;
}


div {
    width: 50px;
    height: 250px;
    margin: 250px auto;
    background-color: #fff;
    position: relative;
}

div::before {
    content: " ";
    position: absolute;
    width: 150px;
    height: 50px;
    bottom: 110px;
    left: -50px;
    background-color: #fff;
}

